@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
  background-color: #ddd;
  font-family: Arial, "MS Trebuchet", sans-serif;
}

h1 {
  margin: 0px 0px 20px 0px;
  font-family: 'Lora', serif;
}

header {
  padding: 15px;
  color: #fff;
  background-color: #000;
}

header img {
  width: 20%;
  border: 5px solid #fff;
}

main {
  padding: 15px;
}

main h2 {
  border-bottom: 1px solid #999;
}

footer {
  clear: right;
  padding: 15px;
  color: #000;
  background-color: #DDD;
}

footer div {
  display: block;
  text-align: center;
}

.copyright {
  margin-bottom: 10px;
}

.updated {
  font-size: .8em;
}

footer span {
  font-size: .9em;
}