@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
    margin: 0px;
    font-family: 'Lora', serif;
}

h1 {
    margin: 0px 0px 20px 0px;
    text-align: center;
}

header {
    padding: 20px;
    color: #fff;
    background-color: #000;
}

header p {
    margin: 0px;
    font-size: 1.5em;
    text-align: center;
}

main {
    padding: 15px;
    background-color: #000;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 15px;
}

article {
    margin-bottom: 15px;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    line-height: 1.5em;
}

article h2 {
    text-align: left;
}

article a, article a:visited {
    display: block;
    color:blue;
    margin-bottom: 15px;
    text-decoration: underline;
}

article img {
    width: 100%;
    box-shadow:#ddd 5px 5px;
}

article p {
    padding: 15px;
    background-color: #f5f0aa;
    border-radius: 5px;
}

footer {
    padding: 30px;
    text-align: center;
    color: #fff;
    background-color: #000000;
}



/* Medium */
@media only screen and (min-width: 768px) {
    main {
        grid-template-columns: 1fr 1fr;
        column-gap: 15px;
    }
}

/* Large */
@media only screen and (min-width: 992px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 15px;
    }
}