@media (min-width: 768px) {

	header {
		display: flex;
		flex-direction: row;
	}

	header #logo {
		margin-right: 15px;
	}

	header #branding {
		display: flex;
		flex-direction: column;
		text-align: left;
	}

	nav ul {
		display: flex;
		flex-direction: row;
		max-width: 1024px;
		margin: 0;
		padding: 0;
		text-align: center;
	}

	nav ul li:first-child {
		display: none;
	}

	nav ul li {
		display: block;
	}

	main #hero {
		font-size: 7em;
	}

	main #forecast {
		display: grid;
		grid-auto-flow:column;
		column-gap: 10px;
	}

}