/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Rubik";
  background-color: #203746;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter";
}

.header {
  height: 50px;
  padding: 0px 5px;
  display: flex;
  align-items: center;
  color: white;
  background-color: #305369;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.header__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__title {
  display: none;
  font-size: 1.7em;
  font-weight: 900;
  vertical-align: middle;
}
.header__logo {
  height: 30px;
  align-self: center;
}
.header__hamburger {
  font-size: 2em;
  cursor: pointer;
}
.header__hamburger--active {
  transform: rotate(90deg);
}

.nav {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #305369;
  z-index: 10;
}
.nav--hidden {
  display: none;
}
.nav__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.nav__list {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: stretch;
}
.nav__item {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter";
  font-size: 2.2em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.07em;
  color: #fe761b;
  background-color: #305369;
}
.nav__link:hover {
  color: #203746;
  background-color: #fe761b;
}
.nav__link--active {
  color: #fcc01d;
  background-color: #284557;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  background-color: #203746;
}
.hero--subpage {
  height: 200px;
}
.hero--subpage .hero__title {
  font-size: 3em;
}
.hero__title {
  padding: 0;
  line-height: 1.4em;
  font-family: "Inter";
  font-size: 5em;
  font-weight: 700;
  letter-spacing: -0.05em;
  text-align: center;
  color: #8cb365;
}
.hero__subtitle {
  font-family: "Inter";
  font-weight: 300;
  font-size: 2em;
  color: white;
  margin-bottom: 50px;
  text-align: center;
}
.hero__description {
  max-width: 700px;
  font-weight: 300;
  margin-bottom: 50px;
  color: white;
  text-align: center;
  line-height: 1.7em;
}
.hero__button {
  padding: 10px 50px;
  font-family: "Rubik";
  font-weight: 400;
  font-size: 1em;
  color: white;
  text-decoration: none;
  background-color: #fe6601;
  border-bottom: 5px solid #e45c01;
  border-top: none;
  border-left: none;
  border-radius: 5px;
}
.hero__button:hover {
  color: black;
  border-bottom: 5px solid #c99403;
  background-color: #fcc01d;
}

.main .section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}
.main .section__rental--scooter {
  background-image: url("../images/scooters_500.jpg");
}
.main .section__rental--jeep {
  background-image: url("../images/jeep_500.jpg");
}
.main .section__rental--atv {
  background-image: url("../images/atv_500.jpg");
}
.main .section__weather--temperature {
  background-position: bottom;
  background-image: url("../images/banner_500.jpg");
}
.main .section__weather--forecast {
  background-image: url("../images/ships_500.jpg");
}
.main .section__summary {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5em;
  text-align: center;
  color: white;
}
.main .section .wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}
.main .section .wrapper--scooter {
  background-color: rgba(152, 61, 1, 0.8);
}
.main .section .wrapper--jeep {
  background-color: rgba(48, 83, 105, 0.8);
}
.main .section .wrapper--atv {
  background-color: rgba(77, 103, 50, 0.8);
}
.main .section .wrapper--weather {
  background-color: rgba(253, 213, 104, 0.7);
}
.main .section .wrapper--forecast {
  background-color: rgba(59, 94, 84, 0.9);
}
.main .section .wrapper .container {
  max-width: 700px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main .section .wrapper .container picture {
  display: none;
}
.main .section .wrapper .container h3 {
  margin-bottom: 30px;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  color: white;
}
.main .section td {
  font-size: 1.6em;
  font-weight: 300;
  padding: 3px 5px;
  margin-bottom: 10px;
  text-align: left;
  color: #203746;
}
.main .section tr > td:first-child {
  text-align: right;
}
.main .rentals {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  color: white;
}
.main .rentals h3 {
  font-size: 2em;
  margin-bottom: 20px;
}
.main .rentals img {
  margin-bottom: 10px;
  width: 300px;
}
.main .rentals ul {
  margin-bottom: 30px;
  list-style: disc;
}
.main .rentals ul li {
  line-height: 1.7em;
}
.main .rentals table,
.main .rentals th,
.main .rentals td {
  padding: 15px 0;
  border: 1px solid #ddd;
}
.main .rentals table {
  width: 100%;
  font-size: 0.7em;
  font-weight: 300;
  text-align: center;
  line-height: 1.2em;
  border-collapse: collapse;
}
.main .rentals table th {
  font-weight: 400;
}
.main .resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  color: white;
}
.main .resources__link {
  font-size: 1em;
  line-height: 2em;
  text-decoration: none;
  color: #fe6601;
}
.main .resources__link:hover {
  color: #fcc01d;
}
.main .section__form {
  padding: 50px;
  color: white;
  background-color: #305369;
}
.main .section__form h3 {
  margin-bottom: 50px;
  font-size: 2.5em;
  font-weight: 300;
  text-align: center;
}
.main .form {
  font-weight: 300;
  width: 100%;
}
.main .form__fieldset {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.main .form__legend {
  display: block;
  margin-bottom: 20px;
  font-size: 1.5em;
  font-weight: 300;
}
.main .form__label {
  width: 100%;
  margin: 0 20px 20px 0;
}
.main .form__label input {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding: 7px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
}
.main .form__radio_group {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
}
.main .form__radio_group--vertical {
  flex-direction: column;
}
.main .form__radio_group--vertical span {
  margin-bottom: 10px;
}
.main .form__radio_label {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
}
.main .form__radio_label input {
  margin: 0 5px 0 20px;
}
.main .form__textarea {
  display: block;
  width: 100%;
  height: 200px;
  margin-top: 10px;
  padding: 10px;
  font-family: monospace;
  font-size: 1em;
  line-height: 1.6em;
  border: none;
  border-radius: 3px;
}
.main .form__textarea_label {
  width: 100%;
  margin: 0 20px 20px 0;
}
.main .form__button {
  padding: 10px 50px;
  font-family: "Rubik";
  font-weight: 400;
  font-size: 1em;
  color: white;
  text-decoration: none;
  background-color: #fe6601;
  border-bottom: 5px solid #e45c01;
  border-top: none;
  border-left: none;
  border-radius: 5px;
  cursor: pointer;
}
.main .form__button:hover {
  color: black;
  border-bottom: 5px solid #c99403;
  background-color: #fcc01d;
}
.main .maps {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  padding: 50px 0;
  text-align: center;
  background-color: #73a2bf;
}
.main .maps:nth-child(2) {
  background-color: #fcc01d;
}
.main .maps:nth-child(3) {
  background-color: #8cb365;
}
.main .maps__heading {
  margin: 40px 0;
  font-size: 3em;
  font-weight: 300;
}
.main .maps__address {
  color: black;
  font-weight: 300;
  line-height: 1.5em;
}
.main .maps__address h3 {
  margin: 40px 0;
  font-size: 2em;
}
.main .maps__form {
  min-width: 400px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.main .maps__form .form__label {
  margin-bottom: 20px;
}
.main .maps__form input {
  display: block;
  width: 100%;
}
.main .maps__form__button {
  padding: 10px 50px;
  font-family: "Rubik";
  font-weight: 400;
  font-size: 1em;
  color: white;
  text-decoration: none;
  background-color: #fe6601;
  border-bottom: 5px solid #e45c01;
  border-top: none;
  border-left: none;
  border-radius: 5px;
  cursor: pointer;
}
.main .maps__form__button:hover {
  color: black;
  border-bottom: 5px solid #c99403;
  background-color: #fcc01d;
}
.main .tours {
  padding: 50px;
  color: white;
}
.main .tours__wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  text-align: center;
}
.main .tours__heading {
  font-size: 2em;
  margin-bottom: 20px;
}
.main .tours__paragraph {
  margin-bottom: 10px;
  text-align: left;
  line-height: 1.7em;
  text-indent: 1em;
}
.main .tours__picture {
  margin-top: 20px;
}
.main .tours:nth-child(1) {
  color: black;
  background-color: #fdd568;
}
.main .tours:nth-child(2) {
  background-color: #73a2bf;
}
.main .tours:nth-child(3) {
  background-color: #739a4c;
}
.main .tours:nth-child(4) {
  background-color: #73a2bf;
}

#forecastWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
#forecastWrapper .forecast__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 1.5em;
}
#forecastWrapper .forecast__box img {
  margin: 15px 0;
  background-color: #73a2bf;
  border-radius: 100%;
}

.footer {
  padding: 50px 0;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}
.footer h3 {
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  color: white;
}
.footer__list {
  margin-bottom: 40px;
}
.footer__item {
  width: 100%;
  text-align: center;
}
.footer__link {
  font-size: 1em;
  line-height: 2em;
  text-decoration: none;
  color: #fe6601;
}
.footer__link:hover {
  color: #fcc01d;
}

@media (min-width: 800px) {
  .header {
    height: 80px;
  }
  .header__wrapper {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__title {
    order: 2;
    display: block;
    margin-left: 10px;
  }
  .header__hamburger {
    display: none;
  }

  .nav {
    position: relative;
    top: 0;
  }
  .nav--hidden {
    display: block;
  }
  .nav__wrapper {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
  }
  .nav__list {
    height: 50px;
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .nav__item {
    padding: 15px 0;
  }
  .nav__link {
    font-size: 1em;
    border-radius: 50px;
  }

  .hero {
    min-height: unset;
    height: unset;
    padding: 100px 0;
  }

  .main .section {
    min-height: 500px;
  }
  .main .section .wrapper--scooter .container,
.main .section .wrapper--jeep .container,
.main .section .wrapper--atv .container {
    position: relative;
    max-width: 750px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
  }
  .main .section .wrapper--scooter .container picture,
.main .section .wrapper--jeep .container picture,
.main .section .wrapper--atv .container picture {
    display: block;
    order: -1;
    width: 60%;
    overflow: hidden;
    text-align: center;
  }
  .main .section .wrapper--scooter .container article,
.main .section .wrapper--jeep .container article,
.main .section .wrapper--atv .container article {
    width: 50%;
    padding-left: 50px;
  }
  .main .section .wrapper--scooter .container h3,
.main .section .wrapper--jeep .container h3,
.main .section .wrapper--atv .container h3 {
    font-size: 4em;
    text-align: left;
  }
  .main .section .wrapper--atv .container {
    flex-direction: row-reverse;
  }
  .main .section .wrapper--atv article {
    padding-right: 50px;
    padding-left: 0px;
  }
  .main .section .wrapper--atv article h3 {
    font-size: 3em;
    text-align: right !important;
  }
  .main .section .wrapper--atv .section__summary {
    text-align: right;
  }
  .main .section .wrapper--weather .container h3,
.main .section .wrapper--forecast .container h3 {
    font-size: 3em;
  }
  .main .section__summary {
    text-align: left;
  }
  .main .section__rental--scooter {
    background-image: none;
  }
  .main .section__rental--jeep {
    background-image: none;
  }
  .main .section__rental--atv {
    background-image: none;
  }
  .main .section__rental img {
    width: 100%;
    height: 100%;
  }
  .main .section__weather--temperature {
    background-image: none;
  }
  .main .section__weather--forecast {
    background-image: none;
  }
  .main .rentals table {
    max-width: 800px;
    font-size: 1em;
  }
  .main .form {
    max-width: 800px;
  }
  .main .form__label {
    width: unset;
  }
  .main .form input {
    width: unset;
  }
  .main .tours__wrapper {
    max-width: 800px;
    margin: 0 auto;
    flex-direction: row;
  }
  .main .tours__paragraph {
    max-width: 800px;
    margin: 0 auto;
  }
  .main .tours__picture {
    width: 100%;
    margin-left: 20px;
    margin-top: 0px;
  }
  .main .tours:nth-child(even) .tours__wrapper {
    flex-direction: row-reverse;
  }
  .main .tours:nth-child(even) .tours__wrapper div {
    margin-left: 20px;
  }
  .main .tours:nth-child(even) .tours__picture {
    margin-left: 0;
    margin-top: 0px;
  }

  .footer {
    max-width: 750px;
    min-height: unset;
    height: auto;
    margin: 0 auto;
    padding: 100px 0;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .header__wrapper {
    max-width: 1200px;
  }

  .nav__wrapper {
    max-width: 1200px;
  }

  .main .section .wrapper--scooter .container,
.main .section .wrapper--jeep .container,
.main .section .wrapper--atv .container {
    max-width: 1150px;
  }
  .main .rentals table {
    max-width: 1200px;
    font-size: 1.2em;
  }
  .main .form {
    max-width: 1200px;
  }

  .footer {
    max-width: 1000px;
  }
}

/*# sourceMappingURL=styles.css.map */
