$container-width: 1200px;

@media (min-width: $container-width) {
  .header {
    &__wrapper {
      max-width: $container-width;
    }

  }

  .nav {
    &__wrapper {
      max-width: $container-width;
    }
  }

  .main {
    .section {

      .wrapper--scooter,
      .wrapper--jeep,
      .wrapper--atv {

        .container {
          max-width: $container-width - 50;
        }
      }
    }

    .rentals {
      table {
        max-width: $container-width;
        font-size: 1.2em;
      }
    }
  }

  .footer {
    max-width: $container-width - 200px;
  }
}
