$container-width: 800px;
$header-height: 80px;

@media (min-width: $container-width) {

  .header {
    height: $header-height;

    &__wrapper {
      max-width: $container-width;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__title {
      order: 2;
      display: block;
      margin-left: 10px;
    }

    &__hamburger {
      display: none;
    }
  }

  .nav {
    position: relative;
    top: 0;

    &--hidden {
      display: block;
    }

    &__wrapper {
      position: relative;
      max-width: $container-width;
      margin: 0 auto;
    }

    &__list {
      height: 50px;
      padding: 15px 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    &__item {
      padding: 15px 0;
    }

    &__link {
      font-size: 1em;
      border-radius: 50px;

    }
  }

  .hero {
    min-height: unset;
    height: unset;
    padding: 100px 0;
  }

  .main {
    .section {
      min-height: 500px;

      .wrapper--scooter,
      .wrapper--jeep,
      .wrapper--atv {

        .container {
          position: relative;
          max-width: $container-width - 50;
          display: flex;
          flex-direction: row;
          align-content: center;
          justify-content: space-evenly;

          picture {
            display: block;
            order: -1;
            width: 60%;
            overflow: hidden;
            text-align: center;
          }

          article {
            width: 50%;
            padding-left: 50px;
          }

          h3 {
            font-size: 4em;
            text-align: left;
          }
        }

      }

      .wrapper--atv {

        .container {
          flex-direction: row-reverse;
        }

        article {
          padding-right: 50px;
          padding-left: 0px;

          h3 {
            font-size: 3em;
            text-align: right !important;
          }
        }

        .section__summary {
          text-align: right;
        }
      }

      .wrapper--weather,
      .wrapper--forecast {
        .container {
          h3 {
            font-size: 3em;

          }
        }

      }

      &__summary {
        text-align: left;
      }

      &__rental {
        &--scooter {
          background-image: none;
        }

        &--jeep {
          background-image: none;
        }

        &--atv {
          background-image: none;
        }

        img {
          width: 100%;
          height: 100%;
        }

      }

      &__weather {

        &--temperature {
          background-image: none;
        }

        &--forecast {
          background-image: none;
        }
      }
    }

    .rentals {
      table {
        max-width: $container-width;
        font-size: 1em;
      }
    }
  }

  .footer {
    max-width: $container-width - 50px;
    height: auto;
    margin: 0 auto;
    padding: 100px 0;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
  }
}
