// BLUE
$blue: hsl(203, 37%, 100%);
$blue-100: darken($blue, 20%);
$blue-200: darken($blue, 30%);
$blue-300: darken($blue, 40%);
$blue-400: darken($blue, 45%);
$blue-500: darken($blue, 50%);
$blue-600: darken($blue, 55%);
$blue-700: darken($blue, 60%);
$blue-800: darken($blue, 70%);
$blue-900: darken($blue, 80%);

// YELLOW
$yellow: hsl(44, 97%, 100%);
$yellow-100: darken($yellow, 20%);
$yellow-200: darken($yellow, 30%);
$yellow-300: darken($yellow, 40%);
$yellow-400: darken($yellow, 45%);
$yellow-500: darken($yellow, 50%);
$yellow-600: darken($yellow, 55%);
$yellow-700: darken($yellow, 60%);
$yellow-800: darken($yellow, 70%);
$yellow-900: darken($yellow, 80%);

// ORANGE
$orange: hsl(24, 99%, 100%);
$orange-100: darken($orange, 20%);
$orange-200: darken($orange, 30%);
$orange-300: darken($orange, 40%);
$orange-400: darken($orange, 45%);
$orange-500: darken($orange, 50%);
$orange-600: darken($orange, 55%);
$orange-700: darken($orange, 60%);
$orange-800: darken($orange, 70%);
$orange-900: darken($orange, 80%);

// GREEN
$green: hsl(90, 34%, 100%);
$green-100: darken($green, 20%);
$green-200: darken($green, 30%);
$green-300: darken($green, 40%);
$green-400: darken($green, 45%);
$green-500: darken($green, 50%);
$green-600: darken($green, 55%);
$green-700: darken($green, 60%);
$green-800: darken($green, 70%);
$green-900: darken($green, 80%);

// FOREST GREEN
$forest-green: hsl(162, 23%, 100%);
$forest-green-100: darken($forest-green, 20%);
$forest-green-200: darken($forest-green, 30%);
$forest-green-300: darken($forest-green, 40%);
$forest-green-400: darken($forest-green, 45%);
$forest-green-500: darken($forest-green, 50%);
$forest-green-600: darken($forest-green, 55%);
$forest-green-700: darken($forest-green, 60%);
$forest-green-800: darken($forest-green, 70%);
$forest-green-900: darken($forest-green, 80%);
