@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@100;400;900&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}



header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 30px 10px 0px 20px;
}

header #logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    padding: 15px;
    background-color: #ebebd3;
    border: 5px solid #083d77;
    border-radius: 100%;
}

header #logo img {
    height: 90%;
}

header h1 {
    font-weight: bold;
    font-size: 4em;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
    text-align: center;
}

header #url {
    margin-bottom: 30px;
}


#logo-demo {
    height: 200px;
}

nav {
    background-color: #ebebd3;
}


nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

nav ul li {
    display: flex;
    text-align: center;
    width: 100%;
}

nav ul li a {
    width: 100%;
    padding: 20px;
    color: #083d77;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ebebd3;
    background-color: #083d77;
}

main {
    color: #ffffff;
}

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
}

main section h2 {
    font-size: 5em;
    font-weight: lighter;
    margin-bottom: 50px;
    text-align: center;
}

main section p, main section li, main section img {
    font-weight: lighter;
    max-width: 700px;
    font-size: 1.2em;
    line-height: 1.7em;
    letter-spacing: .05em;
}

main section img {
    border: 1px solid white;
}

main section:nth-of-type(1)  {
    color: #000;
    background-color: #f4d35e;
}

main section:nth-of-type(2) {
    background-color: #f78764;
}

main section:nth-of-type(3) {
    background-color: #da4167;
}

main section:nth-of-type(4) {
    background-color: #083d77;
}

main section#typography {
    background-color: #ebebd3;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    line-height: 1.7em;
}


#typography-sample-site-header {
    font-weight: bold;
    font-size: 4em;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;
}
#typography-sample-primary-link {
    font-family: 'Open-Sans', sans-serif;
    color: #083d77;
    letter-spacing: 0px;
}
#typography-sample-footer-link {
    font-family: 'Open-Sans', sans-serif;
    color: #083d77;
    letter-spacing: 0px;
}
#typography-sample-h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 5em;
    font-weight: lighter;
}
#typography-sample-h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    font-weight: lighter;
}
#typography-sample-h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0px;
}
#typography-sample-p {
    font-family: 'Open-Sans', sans-serif;
}