:root {
	--color-blue: #052A51;
	--color-blue-light: #A2BBD7;
	--color-yellow: #F4D35E; 
	--color-yellow-light: #ebebd3;
	--color-notification-background:#F4D35E;
	--color-navigation-link:#F4D35E;
	--color-navigation-background: #083d77;
	--color-navigation-hover: #052A51;
}